:root {
    font-size: 14px;
    --padding: 1rem;
}

* {
    box-sizing: border-box;
    font-family: Arial;
}

/*INTRO*/
.intro {
    background-color: black;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 999;
}

@keyframes introSpeech1 {
    0% {top: 0%; opacity: 0%;}
    100% {top: 10%; opacity: 100%;}
}

@keyframes introSpeech2 {
    0% {top: 10%; opacity: 0%;}
    100% {top: 30%; opacity: 100%;}
}

@keyframes introSpeech3 {
    0% {top: 30%; opacity: 0%;}
    100% {top: 50%; opacity: 100%;}
}

@keyframes playNow {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.speech_other {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    font-size: 25px;
    border: 5px solid greenyellow;
    color: white;
    padding-left: 10px;
    height: 150px;
    width: 400px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

.speech1 {
    left: 25%;
    animation-name: introSpeech1;
}

.speech2 {
    left: 50%;
    animation-name: introSpeech2;
    animation-delay: 2s;
}

.speech3 {
    left: 25%;
    animation-name: introSpeech3;
    animation-delay: 4s;
}

.other_username {
    position: absolute;
    color: white;
}

.play_button {
    display: flex;
    align-items: center;
    opacity: 0%;
    cursor: pointer;
    position: absolute;
    height: 15%;
    width: 20%;
    left: 40%;
    top: 75%;
    font-size: 50px;
    background-color: yellowgreen;
    color: black;
    border: 3px solid yellowgreen;
    border-radius: 30px;
    animation-name: playNow;
    animation-delay: 6s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.play_button:hover {
    background-color: greenyellow;
    border: 3px solid greenyellow;
}

.start_over {
    opacity: 0%;
    z-index: -1;
}

/*END CUTSCENE*/

@keyframes ending {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.outro {
    background-color: black;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    animation-name: ending;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/*HEADER*/
.topBar {
    height: 5%;
    width: auto;
    background-color: black;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.link {
    font-size: 15px;
    margin-top: -6px;
}

.setting {
    display:flex;
    margin-left: auto;
    background-color: grey;
    font-size: 18px;
    align-items: center;
    max-width: 3%;
    max-height: 100%;
}

.setting button img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.setting button.clicked {
    background-color: greenyellow;
    color: white;
}

.settings-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    left: 15%;
    top: 15%;
    height: 70%;
    width: 70%;
    background-color: white;
    border:5px dotted blue;
    transition: opacity 0.15s;
    z-index: 90;
    padding-left: 10px;
    padding-top: 5px;
}

.button-side {
    background-color: blue;
    height: 100%;
    max-width: 300px;
    width: 100%;
}

.settings-button {
    height: 100px;
    width: 100px;
}

.settings-body {
    display: flex;
}
#settings-title {
    font-size: 30px;
    font-weight: bold;
    max-height: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: red;
}

.hidden {
    opacity: 0;
    z-index: 0;
}

.link a {
    color: rgb(101, 188, 14);
}

.link p {
    color: greenyellow;
    border-color: black;
    border-width: 1px;
}

.link a:hover {
    color: greenyellow;
}

/*BODY*/
body {
    background-color: black;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainGame {
    display: flex;
    border: 4px solid blue;
    height: 95%;
}

/*CLICKER*/

.clicker {
    width: 40%;
    border: 4px solid greenyellow;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.clicker img {
    max-width: 35%;
    cursor: pointer;
    z-index: 9;
}

.clicking-square {
    padding: 30px;
    background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_205177.gif);
    border-radius: 30px;
    z-index: 7;
    flex: 9;
}

.clicking-square-solid {
    padding: 30px;
    background-image: url("assets/solid_bg.png");
    border-radius: 30px;
    z-index: 7;
}

.score {
    display: inline-block;
    font-size: clamp(50px, 4vw, 70px);
    color: white;
    font-weight: 900;
    border: 5px solid white;
}

.score-alt {
    display: inline-block;
    font-size: 30px;
    color: white;
    border: 5px solid white;
}

.bps {
    font-size: 20px;
    color: white;
    border: 5px solid white;
    padding: 0px;
    font-style: italic;
    margin-bottom: 30px;
}

.game-bottom {
    flex: 1;
    background-color: white;
    justify-content: flex-end;
    z-index: 8;
}

/*UPGRADES*/

.upgrades {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex: 1.5;
    margin: 0px;
}

.upgrade-button {
    display: flex;
    background-color: black;
    color: greenyellow;
    border: 2.5px solid greenyellow;
    position: relative;
    cursor: pointer;
    font-size: 38px;
    flex-direction: column;
    flex: 1;
    height: 10%;
}

.upgrade-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65%;
}

.upgrade-title {
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(20px, 2vw, 50px);
    justify-content: flex-start;
}

.upgrade-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(20px, 2vw, 40px);
}

.upgrade-below {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 10px;
    height: 20%;
}

.upgrade-below-rest {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.upgrade-below-img {
    height: .8em;
    aspect-ratio: 1;
}

.upgrade-below-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.upgrade-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: clamp(10px, 1vw, 20px);
    overflow: hidden;
}


/*UPGRADE TREE*/

.upgrade_tree {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid greenyellow;
    background-color:black;
    flex: 1.5;
}

.upgrade_left {
    margin-top: 40%;
    width: 33%;
    border: 3px solid darkgray;
}

.upgrade_mid {
    width: 33%;
    border: 3px solid white;
}

.upgrade_right {
    margin-top: 40%;
    width: 33%;
    border: 3px solid white;
}

.upgrade_item {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    background-color: greenyellow;
    color: black;
    position: relative;
    z-index: 9;
}

.upgrade_item_locked {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    background-color: green;
    color: white;
}

.invisible_upgrade_item_med {
    padding: 3px;
    margin-top: -40px;
    margin-bottom: -40px;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    visibility: hidden;
}

.invisible_upgrade_item_big {
    padding: 5px;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    visibility: hidden;
}

/*MANAGERS*/

.managers {
    text-align: center;
    flex: 2.5;
    display: flex;
    flex-direction: column;
}

.manage-button {
    display: flex;
    flex: 1;
    position: relative;
    color: greenyellow;
    background-color: black;
    border: 3px solid greenyellow;
    cursor: pointer;
    font-size: 35px;
    height: 10%;
    align-items: center;
}

.mgr-img {
    height: 100%;
    border: 4px solid white;
    aspect-ratio: 1;
}

.mgr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mgr-price-rest {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.mgr-rest {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mgr-top {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mgr-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.manager_title {
    display: flex;
    font-size: 60px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.manage-count {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    font-size: 60px;
    width: 20%;
}

.manage-price {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-align: right;
    overflow: hidden;
    flex-direction: row;
    margin-right: 10px;
}

.manage-price-img {
    height: 1em;
    aspect-ratio: 1;
}

.manage-price-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*HOVERING BOXES*/
.upgrade-hover-textbox {
    color: white;
    display:flex;
    flex-direction: column;
    font-style: italic;
    background-color: black;
    border: 3px solid greenyellow;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s;
    padding: 5px;
    width: 300px;
    right: 106%;
    top: -1px;
    border-radius: 5px;
}

.upgrade-hover-textbox :first-child {
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    padding: 0;
    line-height: 1.2;
}

.upgrade-hover-textbox p {
    font-size: 12px;
}

.upgrade-button:hover .upgrade-hover-textbox {
    z-index: 8;
    opacity: 1;
}

.upgrade-hover-textbox-locked{
    color: white;
    display:flex;
    flex-direction: column;
    font-style: italic;
    background-color: black;
    border: 3px solid greenyellow;
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s;
    padding: 5px;
    width: 300px;
    right: 106%;
    top: -1px;
    border-radius: 5px;
    z-index: 8;
}

/*ABOUT*/

.head {
    position: absolute;
    width: 300px;
    border: 5px solid lavender;
    right: 200px;
}